html,
body {
    background-color: #000;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#info,
#quaternion,
#mouse_pos,
#ori_pos {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#quaternion,
#mouse_pos,
#ori_pos {
    top: 40px;
    font-size: 20px;
    text-align: left;
    left: 30px;
}

#mouse_pos {
    left: 300px;
}

#ori_pos {
    left: 600px;
}

a {
    color: #ffffff;
}